.contenedor {
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1{
    color:aqua;
    background-color: black;
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
}

#imagen{
    /*padding-left: 400px;*/
}

h3{
    /*text-align: center;*/
}

h4{
    /*text-align:center;*/
    color: blueviolet;
    font-weight: bold;
    font-family: Tahoma;
}

.items{
    /*text-align:center;*/
    color:grey;
    font-family: Tahoma;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

}

#caja{
    background-color: blueviolet;
    /*text-align: center;*/
    font-family:Verdana;
    color:white;
    border-radius: 20px;
    box-shadow: 10px 10px 5px black;
    padding: 15px;

}



