h1{
    color:red; /*color de la fuente */
    background-color:yellow; /*color de fondo*/
    text-align: center; /*alineacion*/
    text-transform: uppercase; /*pone el titulo en mayuscula*/
}

h2{
    color:green; 
    font-size: 40px; /*tamaño de la fuente*/
    font-family: Arial; /*tipo de funte, arial, comic sam, la que te guste*/
}

p{
    color:blue; /*color de la letra del parrafo*/
    font-weight: bold; /*lo puso en negrita*/
    font-style: italic; /*letra de costadito*/
    line-height: 25px; /*alto de linea*/
    
}

#caja{
    background-color: orangered;
    width: 300px;
    height: 300px;
    padding: 20px;
    box-sizing: border-box;
    margin-left: 30px;
    border: 5px solid black;
    text-align: center;
}

.Destacados{
    font-size: 25px;
    color: pink;
}